body {
    background-color: white;
}

.box-one {
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

}

.purple-box {
    height: 175px;
    width: 55px;
    background-color: #8a2be3;
    margin-right: 5%;
    display: inline-block;
}

.green-box {
    height: 240px;
    width: 380px;
    background-color: #218c22;
    display: inline-block;
    margin-right: 5%;

}

.circle {
    background-color: #87cdea;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: inline-block;
    
}

.box-two {
    border: 5px dotted black;
    margin: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.tan-box {
    height: 250px;
    width: 95%;
    margin: 0 auto;
    border: hidden;
    background-color: #fffacc;
    box-shadow: 5px 5px 5px #000000;

}

.box-three {
    box-shadow: 2px 2px 10px grey;
    border: 1px solid ccc; 
    padding: 75px;
    margin: 20px 200px 20px 200px;
    box-sizing: border-box;

}

p {
    color: #020176;
    text-align: center;
    font-size: 35px;
    width: 100%;
    font-weight: bolder;
    letter-spacing: 12px;
    
}
