body {
    background: white;
}

header {
    background-color: lightgrey;
    height: 11vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    background-color: lightskyblue;
    height: 6.5vh;
    width: 6.5vw;
}

.big-row { 
    height: 25vh;
    width: 100%;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

.blue { 
    background-color: lightskyblue;
    height: 16vh;
    box-sizing: border-box;
}

.aqua {
    background-color: aqua;
    height: 16vh;
    box-sizing: border-box;

}

.green {
    background-color:lightgreen;
    height: 16vh;
    box-sizing: border-box;
}

.yellow {
    background-color: lightyellow;
    height: 16vh;
    box-sizing: border-box;

}